@font-face {
  font-family: 'Empyrion';
  src:  url('../fonts/Empyrion.eot?snz9fe');
  src:  url('../fonts/Empyrion.eot?snz9fe#iefix') format('embedded-opentype'),
    url('../fonts/Empyrion.ttf?snz9fe') format('truetype'),
    url('../fonts/Empyrion.woff?snz9fe') format('woff'),
    url('../fonts/Empyrion.svg?snz9fe#Empyrion') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="em_"], [class*=" em_"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Empyrion' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.em_1:before {
  content: "\e900";
}
.em_2:before {
  content: "\e901";
}
.em_3:before {
  content: "\e902";
}
.em_4:before {
  content: "\e903";
}
.em_5:before {
  content: "\e904";
}
.em_6:before {
  content: "\e905";
}
.em_7:before {
  content: "\e906";
}
.em_8:before {
  content: "\e907";
}
.em_9:before {
  content: "\e908";
}
.em_10:before {
  content: "\e909";
}
.em_11:before {
  content: "\e90a";
}
.em_12:before {
  content: "\e90b";
}
.em_13:before {
  content: "\e90c";
}
.em_14:before {
  content: "\e90d";
}
.em_15:before {
  content: "\e90e";
}
.em_16:before {
  content: "\e90f";
}
.em_17:before {
  content: "\e910";
}
.em_18:before {
  content: "\e911";
}
.em_19:before {
  content: "\e912";
}
.em_20:before {
  content: "\e913";
}
.em_21:before {
  content: "\e914";
}
.em_22:before {
  content: "\e915";
}
.em_23:before {
  content: "\e916";
}
.em_24:before {
  content: "\e917";
}
.em_25:before {
  content: "\e918";
}
.em_26:before {
  content: "\e919";
}
.em_27:before {
  content: "\e91a";
}
.em_28:before {
  content: "\e91b";
}
.em_29:before {
  content: "\e91c";
}
.em_30:before {
  content: "\e91d";
}
.em_31:before {
  content: "\e91e";
}
.em_32:before {
  content: "\e91f";
}
.em_33:before {
  content: "\e920";
}
.em_34:before {
  content: "\e921";
}
.em_35:before {
  content: "\e922";
}
.em_36:before {
  content: "\e923";
}
.em_37:before {
  content: "\e924";
}
.em_38:before {
  content: "\e925";
}
.em_39:before {
  content: "\e926";
}
.em_40:before {
  content: "\e927";
}
.em_41:before {
  content: "\e928";
}
.em_42:before {
  content: "\e929";
}
.em_43:before {
  content: "\e92a";
}
.em_44:before {
  content: "\e92b";
}
.em_45:before {
  content: "\e92c";
}
.em_46:before {
  content: "\e92d";
}
.em_47:before {
  content: "\e92e";
}
.em_48:before {
  content: "\e92f";
}
.em_49:before {
  content: "\e930";
}
.em_50:before {
  content: "\e931";
}
.em_51:before {
  content: "\e932";
}
.em_52:before {
  content: "\e933";
}
.em_53:before {
  content: "\e934";
}
.em_54:before {
  content: "\e935";
}
.em_55:before {
  content: "\e936";
}
.em_56:before {
  content: "\e937";
}
.em_57:before {
  content: "\e938";
}
.em_58:before {
  content: "\e939";
}
.em_59:before {
  content: "\e93a";
}
.em_60:before {
  content: "\e93b";
}
.em_61:before {
  content: "\e93c";
}
.em_62:before {
  content: "\e93d";
}
.em_63:before {
  content: "\e93e";
}
.em_64:before {
  content: "\e93f";
}
.em_65:before {
  content: "\e940";
}
.em_66:before {
  content: "\e941";
}
.em_67:before {
  content: "\e942";
}
.em_68:before {
  content: "\e943";
}
.em_69:before {
  content: "\e944";
}
.em_70:before {
  content: "\e945";
}
.em_71:before {
  content: "\e946";
}
.em_72:before {
  content: "\e947";
}
.em_73:before {
  content: "\e948";
}
.em_74:before {
  content: "\e949";
}
.em_75:before {
  content: "\e94a";
}
.em_76:before {
  content: "\e94b";
}
.em_77:before {
  content: "\e94c";
}
.em_78:before {
  content: "\e94d";
}
.em_79:before {
  content: "\e94e";
}
.em_80:before {
  content: "\e94f";
}
.em_81:before {
  content: "\e950";
}
.em_82:before {
  content: "\e951";
}
.em_83:before {
  content: "\e952";
}
.em_84:before {
  content: "\e953";
}
.em_85:before {
  content: "\e954";
}
.em_86:before {
  content: "\e955";
}
.em_87:before {
  content: "\e956";
}
.em_88:before {
  content: "\e957";
}
.em_89:before {
  content: "\e958";
}
.em_90:before {
  content: "\e959";
}
.em_91:before {
  content: "\e95a";
}
.em_92 .path1:before {
  content: "\e95b";
  color: rgb(0, 0, 0);
}
.em_92 .path2:before {
  content: "\e95c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.em_92 .path3:before {
  content: "\e95d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.4;
}
.em_92 .path4:before {
  content: "\e95e";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.8;
}
.em_92 .path5:before {
  content: "\e95f";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.5;
}
.em_92 .path6:before {
  content: "\e960";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.9;
}
.em_92 .path7:before {
  content: "\e961";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.6;
}
.em_92 .path8:before {
  content: "\e962";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.em_93:before {
  content: "\e963";
}
.em_94:before {
  content: "\e964";
}
.em_95:before {
  content: "\e965";
}
.em_96:before {
  content: "\e966";
}
.em_97:before {
  content: "\e967";
}
.em_98:before {
  content: "\e968";
}
.em_99:before {
  content: "\e969";
}
.em_100:before {
  content: "\e96a";
}
.em_101:before {
  content: "\e96b";
}
.em_102:before {
  content: "\e96c";
}
.em_103:before {
  content: "\e96d";
}
.em_104:before {
  content: "\e96e";
}
.em_105:before {
  content: "\e96f";
}
.em_106:before {
  content: "\e970";
}
.em_107:before {
  content: "\e971";
}
.em_108:before {
  content: "\e972";
}
.em_109:before {
  content: "\e973";
}
.em_110:before {
  content: "\e974";
}
.em_111:before {
  content: "\e975";
}
.em_112:before {
  content: "\e976";
}
.em_123:before {
  content: "\e977";
}
.em_124:before {
  content: "\e978";
}
.em_125:before {
  content: "\e979";
}
.em_126:before {
  content: "\e97a";
}
.em_127:before {
  content: "\e97b";
}
.em_128:before {
  content: "\e97c";
}
.em_129:before {
  content: "\e97d";
}
.em_130:before {
  content: "\e97e";
}
.em_131:before {
  content: "\e97f";
}
.em_132:before {
  content: "\e980";
}
.em_133:before {
  content: "\e981";
}
.em_134:before {
  content: "\e982";
}
.em_135:before {
  content: "\e983";
}
.em_136:before {
  content: "\e984";
}
.em_137:before {
  content: "\e985";
}
.em_138:before {
  content: "\e986";
}
.em_139:before {
  content: "\e987";
}
.em_140:before {
  content: "\e988";
}
.em_141:before {
  content: "\e989";
}
.em_142:before {
  content: "\e98a";
}
.em_143:before {
  content: "\e98b";
}
.em_144:before {
  content: "\e98c";
}
.em_145:before {
  content: "\e98d";
}
.em_146:before {
  content: "\e98e";
}
.em_147:before {
  content: "\e98f";
}
.em_148:before {
  content: "\e990";
}
.em_149:before {
  content: "\e991";
}
.em_150:before {
  content: "\e992";
}
.em_151:before {
  content: "\e993";
}
.em_152:before {
  content: "\e994";
}
.em_153:before {
  content: "\e995";
}
.em_154:before {
  content: "\e996";
}
.em_155:before {
  content: "\e997";
}
.em_156:before {
  content: "\e998";
}
.em_157:before {
  content: "\e999";
}
.em_158:before {
  content: "\e99a";
}
.em_159:before {
  content: "\e99b";
}
.em_160:before {
  content: "\e99c";
}
.em_161:before {
  content: "\e99d";
}
.em_162:before {
  content: "\e99e";
}
.em_163:before {
  content: "\e99f";
}
.em_164:before {
  content: "\e9a0";
}
.em_165:before {
  content: "\e9a1";
}
.em_166:before {
  content: "\e9a2";
}
.em_167:before {
  content: "\e9a3";
}
.em_168:before {
  content: "\e9a4";
}
.em_169:before {
  content: "\e9a5";
}
.em_170:before {
  content: "\e9a6";
}
.em_171:before {
  content: "\e9a7";
}
.em_172:before {
  content: "\e9a8";
}
.em_173:before {
  content: "\e9a9";
}
.em_174:before {
  content: "\e9aa";
}
.em_175:before {
  content: "\e9ab";
}
.em_176:before {
  content: "\e9ac";
}
.em_177:before {
  content: "\e9ad";
}
.em_178:before {
  content: "\e9ae";
}
.em_179:before {
  content: "\e9af";
}
.em_180:before {
  content: "\e9b0";
}
.em_181:before {
  content: "\e9b1";
}
.em_182:before {
  content: "\e9b2";
}
.em_183:before {
  content: "\e9b3";
}
.em_184:before {
  content: "\e9b4";
}
.em_185:before {
  content: "\e9b5";
}
.em_186:before {
  content: "\e9b6";
}
